/* the entire page's layout */
* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    line-height: 1.5;
    font-family: 'Nanum Gothic';
    font-size: medium;
    color: white;
}
#live-background {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}


/* the page's content layout */
.content-container {
    display: flex;
    flex-direction: column;
    gap: 200px;
}


/* The navbar's layout */
nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
nav li {
    flex: 0 1 100px;
}
nav .logo {
    margin-right: auto;
}
nav img {
    width: 100%;
    height: auto;
}


/* The hero section layout */
.hero-container {
    width: 85%;
    align-self: center;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;    
}
.hero-container.special-box {
    padding: 20px 40px;
    border-radius: 10px;
}
.hero-container .text-box {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.hero-container .image-box {
    flex: 0 1 40%;
}
.hero-container img {
    width: 100%;
    min-width: 200px;
    height: auto;
    opacity: 80%;
    border-radius: 10px;
}


/* The about section's layout */
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.about-container.special-box {
    border-radius: 5px;
    padding: 10px 0px;
}

.about-container .cards-container {
    display: flex;
    justify-content: space-around;
}

.about-container .card {
    flex: 0 1 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.about-container .text-box {
    text-align: center;
    font-size: medium;
}
.about-container img{ 
    width: 100%;
    height: auto;
    opacity: 80%;
    border-radius: 10px;
}


/* re-usable rulesets */
.special-box {
    background-image: linear-gradient(to bottom right, rgba(122, 0, 122, 0.6), rgba(0, 0, 77, 0.5));
    padding: 16px 40px;
}
.special-text {
    margin: 0px;
    color: white;
    font-size: 24px;
    font-weight: 550;
    text-shadow:
    0 0 7px #00f,
    0 0 10px #00d,
    0 0 21px #00b,
    0 0 42px #009,
    0 0 82px #007,
    0 0 92px #005,
    0 0 102px #003,
    0 0 151px #001;
}
.special-button {
    font-size: inherit;
    padding: 8px 18px;
    border: 3px solid white;
    background-image: linear-gradient(to bottom right, rgba(175, 0, 175, 0.5), rgba(0, 0, 77, 0.3));
    border-radius: 30px;
    text-decoration: none;
}